.table-filters {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

p-checkbox,
p-tristatecheckbox {
    color: white;
}

.table-filter {
    width: 100%;
}

.recipe-card {
    width: 100%;
    margin-bottom: 1em;
    cursor: pointer;
}

.recipe-fields {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.recipe-field {
    display: flex;
}

::ng-deep body .ui-dataview .ui-dataview-header {
    border-radius: 0px;
}

::ng-deep .ui-card-title {
    color: teal;
}

@media screen and (max-width: 900px) {
    .recipe-fields {
        flex-direction: column;
    }
}