<p-dataView #dv (onLazyLoad)="onLazyLoad($event)" [value]="recipes.data" [lazy]="true" [paginator]="true"
  [rows]="recipes.count" dataKey="id" [totalRecords]="recipes.totalRecordCount" paginatorPosition="both">
  <p-header>
    <div class="table-header">
      <div class="table-caption">
        Recipes
      </div>
      <div class="table-actions">
        <button pButton type="button" label="Add" (click)="openRecipe()" icon="pi pi-plus"
          class="ui-button-success"></button>
        <button pButton type="button" label="Clear" (click)="clearFilters(dv)" icon="pi pi-times"
          class="ui-button-primary"></button>
      </div>
    </div>
    <div>
      <hr>
    </div>
    <div class="table-filters">
      <div>
        <input type="text" class="table-filter" [(ngModel)]="filters.recipeName"
          (ngModelChange)="onFilterChange('recipeName', dv)" placeholder="Recipe Name" pInputText>
      </div>
      <div>
        <p-dropdown [options]="recipeTypes" [(ngModel)]="filters.recipeType"
          (ngModelChange)="onFilterChange('recipeType', dv)" name="recipeType" [style]="{width: '100%'}"
          [(ngModel)]="filters.recipeType" optionLabel="label" placeholder="-- Recipe Type --" required>
        </p-dropdown>
      </div>
      <div>
        <p-triStateCheckbox [(ngModel)]="filters.weightWatchers" label="WW"
          (ngModelChange)="onFilterChange('weightWatchers', dv)"></p-triStateCheckbox>
      </div>
    </div>
  </p-header>
  <ng-template let-recipe pTemplate="listItem">
    <p-card class="recipe-card" [header]="recipe.recipeName" (click)="onRowSelect(recipe)">
      <div class="recipe-fields">
        <div class="recipe-field">
          <div>Type: </div>
          <div><b>{{recipe.recipeType}}</b></div>
        </div>
        <div class="recipe-field">
          <div>Cook Time: </div>
          <div><b>{{recipe.cookTime || 'N/A'}}</b></div>
        </div>
        <div class="recipe-field">
          <div>Serving: </div>
          <div><b>{{recipe.servingSize || 'N/A'}}</b></div>
        </div>
        <div class="recipe-field">
          <div>WW: </div>
          <div><b>{{recipe.weightWatchers ? 'Yes' : 'No'}}</b></div>
        </div>
        <div class="recipe-field">
          <div>Pts.: </div>
          <div><b>{{recipe.points || 'N/A'}}</b></div>
        </div>
      </div>
    </p-card>
  </ng-template>
</p-dataView>