<nr-page-action *ngIf="loggedIn" label="Add" icon="pi pi-plus" desktop="topbar" mobile="topbar" (click)="openRecipe()"
  color="success">
</nr-page-action>
<nr-page-action label="Clear Filters" icon="pi pi-times" desktop="topbar" mobile="hidden" (click)="clearFilters(dv)"
  color="primary">
</nr-page-action>
<nr-page-action icon="pi pi-filter" color="primary" desktop="hidden" mobile="topbar"
  (click)="showFilters = !showFilters">
</nr-page-action>

<ng-template #pageFilters>
  <div class="table-filters">
    <div>
      <input type="text" class="table-filter" [(ngModel)]="filters.recipeName"
        (ngModelChange)="onFilterChange('recipeName', dv)" placeholder="Recipe Name" pInputText>
    </div>
    <div>
      <p-dropdown [options]="recipeTypes" [(ngModel)]="filters.recipeType"
        (ngModelChange)="onFilterChange('recipeType', dv)" name="recipeType" [style]="{width: '100%'}"
        [(ngModel)]="filters.recipeType" optionLabel="label" placeholder="-- Recipe Type --" required>
      </p-dropdown>
    </div>
    <div>
      <p-checkbox name="mine" value="mine" label="Mine" [binary]="true" [(ngModel)]="filters.mine"
        (ngModelChange)="onFilterChange('mine', dv)"></p-checkbox>
    </div>
    <div>
      <p-triStateCheckbox [(ngModel)]="filters.weightWatchers" label="WW"
        (ngModelChange)="onFilterChange('weightWatchers', dv)"></p-triStateCheckbox>
    </div>
  </div>
</ng-template>

<div class="mobile-search-box">
  <div class="p-inputgroup">
    <input type="text" class="table-filter" [(ngModel)]="filters.recipeName"
      (ngModelChange)="onFilterChange('recipeName', dv)" placeholder="Recipe Name" pInputText>
    <button type="button" pButton pRipple icon="pi pi-times" (click)="clearFilters(dv)" class="p-button-danger"></button>
  </div>
</div>

<p-dataView #dv (onLazyLoad)="onLazyLoad($event)" [value]="recipes.data" [lazy]="true" [paginator]="true" [showPageLinks]="!mobile"
  [rows]="recipes.count" dataKey="id" [totalRecords]="recipes.totalRecordCount" paginatorPosition="bottom">
  <p-header>
    <ng-container *ngTemplateOutlet="pageFilters"></ng-container>
  </p-header>
  <ng-template let-recipe pTemplate="listItem">
    <p-card class="recipe-card" [header]="recipe.recipeName" (click)="onRowSelect(recipe)">
      <div class="recipe-fields">
        <div class="recipe-field">
          <div>Type:&nbsp;</div>
          <div><b>{{recipe.recipeType}}</b></div>
        </div>
        <div class="recipe-field">
          <div>Cook Time:&nbsp;</div>
          <div><b>{{recipe.cookTime || 'N/A'}}</b></div>
        </div>
        <div class="recipe-field">
          <div>Serving:&nbsp;</div>
          <div><b>{{recipe.servingSize || 'N/A'}}</b></div>
        </div>
        <div class="recipe-field">
          <div>WW:&nbsp;</div>
          <div><b>{{recipe.weightWatchers ? 'Yes' : 'No'}}</b></div>
        </div>
        <div class="recipe-field">
          <div>Pts.:&nbsp;</div>
          <div><b>{{recipe.points || 'N/A'}}</b></div>
        </div>
      </div>
    </p-card>
  </ng-template>
</p-dataView>

<p-dialog header="Filter Recipes" [(visible)]="showFilters" [style]="{width: '95%'}">
  <ng-container *ngTemplateOutlet="pageFilters"></ng-container>
  <ng-template pTemplate="footer">
    <button pButton type="button" label="Clear Filters" icon="pi pi-times" (click)="clearFilters(dv)" class="p-button-danger">
    </button>
    <button pButton type="button" label="Done" icon="pi pi-check" (click)="showFilters = false">
    </button>
  </ng-template>
</p-dialog>