<nr-page-action label="Back" icon="pi pi-arrow-left" (click)="back()"></nr-page-action>
<nr-page-action *ngIf="loggedIn && ownsRecipe" label="Edit" icon="pi pi-pencil" color="info" (click)="edit()"></nr-page-action>
<p-card>
  <div class="recipe">
    <h2>{{recipe.recipeName}}</h2>
    <div class="author">
      By <b>{{recipe.userFullName}}</b>
    </div>
    <small>
      {{recipe.recipeType}}
      <span [hidden]="!recipe.servingSize">- Serves {{recipe.servingSize}}</span>
      <span [hidden]="!recipe.weightWatchers">
        - Weight Watchers
        <span [hidden]="!recipe.points">({{recipe.points}} Points)</span>
      </span>
      <span [hidden]="!recipe.cookTime">- Cook Time: {{recipe.cookTime}}</span>
    </small>
    <ul class="ingredients">
      <li><b>Ingredients</b></li>
      <li *ngFor="let ingredient of recipe.ingredients">{{ingredient.ingredientDescription}}</li>
    </ul>
    <ul class="steps">
      <li><b>Steps</b></li>
      <li *ngFor="let step of recipe.steps">{{step.stepDescription}}</li>
    </ul>
  </div>
</p-card>