/* You can add global styles to this file, and also import other style files */
@import 'prime';
@import "primeicons/primeicons.css";

.light {
    @include prime-light;
}

.dark {
    @include prime-dark;

    .keyboard-wrapper {
        color: black;
    }
}

body.light, body.dark {
    @include prime-all;
}


html, body, body nr-app .ui-widget {
    font-size: 16px;
}

label {
    font-weight: bold;
}


body {
    margin: 0px;
}


.nr-navbar {
    background: #333333;
    padding: 0.5em;
}

.recipe-card .p-card {
    margin-bottom: 1em;
}

.recipe-card .p-card:hover {
    cursor: pointer;
}

.keyboard-wrapper {
    position: fixed;
    left: 0;
    right: 0;
    top: 50%;
    bottom: 0;
    display: none;
    z-index: 100;
    background-color: #fbddfb;
}

.keyboard-wrapper .simple-keyboard {
    height: 100%;
    width: 100%;
    background-color: #fbddfb;
}

.keyboard-wrapper button.p-button.p-component.p-button-icon-only {
    float: right;
    min-width: 100px;
    margin-bottom: 0.1em;
}

.keyboard-wrapper .simple-keyboard.hg-theme-default.hg-layout-default .hg-button{
    height: 50px;
}